<template>
  <div id="app" class="appContainer">

    <p class="title">Diamond Hands Testing</p>
    <p class="item">
      Step 1: Fetch the pre-built contract nLockTime_debug_desc.json with the following inputs:
    </p>
    <form @submit.prevent id="demo">
      <!-- text -->
      <div class="inputField">
        <p class="item">nlockTime: </p>
        <p class="item ml">
          <input type="number" v-model.number="matureTime">
        </p>
      </div>

      <div class="inputField">
        <p class="item">Public Key Hash (PKH): </p>
        <p class="item ml">
          <input type="text" v-model="pkh">
        </p>
      </div>
      <button :disabled="!matureTime || !pkh" @click="fetchContract()">fetchContract</button>
    </form>
    <div class="contractContainer">
      <p class="contractTitle item">Contract Arguments</p>

      <p class="item">
        Mature time:
        {{
        this.contractInstance
        ? this.contractInstance.scriptedConstructor.args[0].value
        : 'Fetch the contract first'
        }}
      </p>
      <p class="item">
        Public Key Hash (PKH):
        {{
        this.contractInstance
        ? this.contractInstance.scriptedConstructor.args[1].value
        : 'Fetch the contract first'
        }}
      </p>
    </div>
    <p class="item">Step 2: Deploy the contract</p>
    <form @submit.prevent id="demoDeployContract">
      <!-- text -->
      <div class="inputField">
        <p class="item">Satoshis: </p>
        <p class="item ml">
          <input type="number" v-model.number="satoshis">
        </p>
      </div>
      <button :disabled="!contractInstance || !satoshis" @click="deployContract()">
        deployContract
      </button>
    </form>
    <div class="contractContainer">
      <p class="contractTitle item">Deployed Contract</p>

      <p class="item">
        txid:
        {{
        this.deployedContractRawTx
        ? this.deployedContractRawTx
        : 'Fetch and deploy the contract first'
        }}
      </p>
    </div>
    <p class="item">Step 3: Call the contract (having trouble with this step)</p>
    <form @submit.prevent id="demoDeployContract">
      <!-- text -->
      <div class="inputField">
        <p class="item">Paymail Address: </p>
        <p class="item ml">
          <input type="text" v-model="paymailAddress">
        </p>
      </div>
      <div class="inputField">
        <p class="item">Private Key: </p>
        <p class="item ml">
          <input type="text" v-model="privateKey">
        </p>
      </div>
      <button :disabled="!contractInstance || !satoshis || !privateKey || !deployedContractRawTx"
        @click="callContract()">callContract</button>
    </form>
    <p>Next Steps: Can combine steps 1 & 2 for the user using logged in RelayX info. </p>

    <!-- <button @click="login()">Login</button>
      <div id="relayx-button"></div> -->
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api';
import { bsv, getPreimage, signTx } from 'scryptlib';
import { ContractUtxos } from './storage';

import { web3 } from './web3/web3.ts';

const scryptlib = require('scryptlib');

export default defineComponent({
  name: 'App',
  data() {
    return {
      contractInstance: null,
      data: null,
      deployedContractRawTx: null,
      matureTime: null,
      payload: null,
      paymailAddress: null,
      pkh: null,
      privateKey: null,
      satoshis: null,
      signature: null,
      token: null,
    };
  },
  mounted() {
    // this.fetchContract();
  },
  methods: {
    async login() {
      // eslint-disable-next-line no-undef
      this.token = await relayone.authBeta();
      [this.payload, this.signature] = this.token.split('.');
      this.data = JSON.parse(atob(this.payload)); // Buffer.from(payload, 'base64')
    },

    async fetchContract() {
      // Note: Fetch the contract with initial arguments and display them once contract is loaded.
      const { contractClass: NLockTimeContractClass } = await web3.loadContract(
        'nlocktime_debug_desc.json',
      );
      this.contractInstance = await new NLockTimeContractClass(
        5, new scryptlib.PubKeyHash(this.pkh),
      );
      this.matureTime = this.contractInstance.scriptedConstructor.args[0].value;
      this.pkh = this.contractInstance.scriptedConstructor.args[1].value;
    },

    // Note: Deploy the contract with locked satoshis
    async deployContract() {
      web3.deploy(this.contractInstance, this.satoshis).then((rawTx) => {
        this.deployedContractRawTx = rawTx;
        ContractUtxos.add(rawTx);
      });
    },

    // Note: Call the contract, something is wrong here or the call method in `web3.ts`
    async callContract() {
      const contractUtxo = ContractUtxos.getlast().utxo;
      web3.call(contractUtxo, async (tx) => {
        tx.lockUntilBlockHeight(this.matureTime);
        tx.setOutput(0, (transaction) => {
          const amount = contractUtxo.satoshis - transaction.getEstimateFee();
          return new bsv.Transaction.Output({
            script: bsv.Script.buildPublicKeyHashOut(this.paymailAddress),
            satoshis: amount,
          });
        });

        tx.setInputScript(0, (transaction, output) => {
          const preimage = getPreimage(transaction, output.script, output.satoshis);
          // eslint-disable-next-line no-unused-vars
          const sig = signTx(
            transaction, this.privateKey, output.script,
            this.contractInstance.lockingScript.toASM(), output.satoshis,
          );
          return this.contractInstance.spend(preimage).toScript();
        });
      });
    },
  },
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.title {
  font-size: 1.25 rem;
  font-weight: 700;
  align-self: center;
}

.contractTitle {
  font-size: 1 rem;
  font-weight: 700;
}

.appContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0 24px;
  /* border: 2px solid red; */
  flex-direction: column;
  text-align: start;
}

.contractContainer {
    display: flex;
    border: 2px solid;
    justify-content: center;
    align-items: start;
    padding: 0 24px;
    flex-direction: column;
    text-align: start;
    margin: 8px 0;
}

.item {
  /* border: 2px solid blue; */
  width: 100%;
  text-align: start;
  margin: 6px auto;
}

.inputField {
  display: flex;
  justify-content: center;
  align-items: start;
}

.ml {
  margin-left: 4px;
}
</style>
